<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Udemy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;700&family=Open+Sans&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="build/css/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
<header class="header container-fluid d-none d-lg-block">
    <div class="d-flex justify-content-between align-items-center p-3 shadow-sm">
        <p class="fs-3 fw-bold  m-0 me-4"><span class="text-success">u</span>niversidad</p>
        <form action="" class="flex-grow-1 me-2">

            <input class=" form-control bg-light" type="search" placeholder="buscar qualquier cosa">

        </form>

        <div class=".5rem fs-.5 fw-bold ">
            <a href="#" class="text-decoration-none me-4">Ensena en U </a>
        </div>
        <div class=".5rem fs-.5 fw-bold ">
            <a href="#" class="text-decoration-none me-2"> U for businiss </a>

        </div>


        <nav>
            <a href="#" class=" btn btn-outline-dark"> Inicial session</a>
            <a href="#" class=" btn btn-dark"> Inicial session</a>

        </nav>

    </div>

</header>

<section class="descuentos container-xl">
    <div class="row justify-content-around align-items-end bg-light">
        <div class="col-lg-4 shadow bg-white texto-descuentos">
            <div class="p-3">
                <h2>Ultimas dias para disfrutar el descuento</h2>
                <p class="description">Cursos desde 10 usd. utiliza el cupon 10USD para unicamente ganas 10USD en
                    cada curso </p>
            </div>
            <input placeholder="? que quieres aprende ?" type="search" class="form-control bg-light buscar" />

        </div>
        <div class="col-lg-5">
            <img class="img-fluid" src="./build/img/persona1.png" alt="">
        </div>
    </div>
</section>

<section class="Cursos container-xl mt-5 pt-5">

    <h3>Una amplia selection de cuesos</h3>
    <p>Elegir entre mas 155.000 Cursos en video y en linea con nuevo contenido cada mes</p>
    <nav class="nav">
        <li class="nav-item">
            <a href="#" class="nav-link active">JavaScript</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">phyton</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">react native</a>
        </li>
    </nav>

    <div class="categoria-curso p-4 mt-3">

        <p class="fs-3 fw-bold">
            Emplia tu oportunidades con JavaScript y front end
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ipsam reiciendis consectetur quis doloremque quas quos
            consequuntur provident ipsa maiores amet, atque deserunt.
            Officiis pariatur autem eum ut eligendi. Eveniet, laborum!
        </p>
        <a href="#" class="btn btn-outline-dark">Explorar JavaScript</a>
        <ul class="list-unstyled mt-5 listado-cursos">
            <li class="curso">
                <div class="card">
                    <img class="card-img-top" src="./src/img/curso_6.jpg" alt="imagen curso" />
                    <div class="card-body">
                        <h4 class="titulo">Curso de JavaScript Moderno
                            creando 15 projectos</h4>
                        <p class="instructor"> Jose pedro instructor</p>

                        <div class="d-flex align-items-center">
                            <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                            <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                            <p class="total m-0">(3121)</p>
                        </div>
                        <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                    </div>
                </div>
            </li>


            <li class="curso">
                <div class="card">
                    <img class="card-img-top" src="./src/img/curso_2.jpg" alt="imagen curso" />
                    <div class="card-body">
                        <h4 class="titulo">FullStack JavaScript - node ,react y Electron</h4>
                        <p class="instructor"> Jose pedro instructor</p>

                        <div class="d-flex align-items-center">
                            <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                            <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                            <p class="total m-0">(3121)</p>
                        </div>
                        <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                    </div>
                </div>
            </li>
            <li class="curso">
                <div class="card">
                    <img class="card-img-top" src="./src/img/curso_9.jpg" alt="imagen curso" />
                    <div class="card-body">
                        <h4 class="titulo">Dessarollo web completo de react y diango</h4>
                        <p class="instructor"> Jose pedro instructor</p>

                        <div class="d-flex align-items-center">
                            <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                            <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                            <p class="total m-0">(3121)</p>
                        </div>
                        <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                    </div>
                </div>
            </li>
            <li class="curso">
                <div class="card">
                    <img class="card-img-top" src="./src/img/curso_3.jpg" alt="imagen curso" />
                    <div class="card-body">
                        <h4 class="titulo">Disegno de interface de usuario para app mobiles</h4>
                        <p class="instructor"> Jose pedro instructor</p>

                        <div class="d-flex align-items-center">
                            <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                            <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                            <p class="total m-0">(3121)</p>
                        </div>
                        <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                    </div>
                </div>
            </li>
            <li class="curso">
                <div class="card">
                    <img class="card-img-top" src="./src/img/curso_12.jpg" alt="imagen curso" />
                    <div class="card-body">
                        <h4 class="titulo">Bootcamp backend -Rudy on Rails Diango y laravel</h4>
                        <p class="instructor"> Jose pedro instructor</p>

                        <div class="d-flex align-items-center">
                            <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                            <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                            <p class="total m-0">(3121)</p>
                        </div>
                        <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>

<Section class=" bg-light my-5 py-5">
    <div class="container-xl">
        <div class="row justify-content-between align-items-center">

            <div class=" col-md-3 mb-5 mb-md-0">
                <div class="d-flex justify-content-around align-items-center">

                    <div class="me-3">
                        <div class="icono">
                            <i class="bi bi-star-fill fs-3"></i>
                        </div>

                    </div>
                    <p>Aprende habilidades a tu ritmo con mas de 100 000 Cursos en video</p>

                </div>
            </div><!----col-md-3-->
            <div class=" col-md-3 mb-5 mb-md-0">
                <div class="d-flex justify-content-around align-items-center">

                    <div class="me-3">
                        <div class="icono">
                            <i class="bi bi-phone-fill fs-3"></i>
                        </div>

                    </div>
                    <p>Comprar cursos importados por expertos del mundo real y obten un empleo</p>

                </div>
            </div><!----col-md-3-->
            <div class=" col-md-3 mb-5 mb-md-0">
                <div class="d-flex justify-content-around align-items-center">

                    <div class="me-3">
                        <div class="icono">
                            <i class="bi bi-play-fill fs-3"></i>
                        </div>

                    </div>
                    <p>Aprende a tu ritmo, con acceso de por vida desde ordenadores o dispositivos moviles</p>

                </div>
            </div><!----col-md-3-->


        </div>

    </div>


</Section>
<Main class="container-xl">
    <p class="fs fw-bold">Los estudiante estan viendo</p>

    <ul class="list-unstyled mt-5 listado-cursos">
        <li class="curso">
            <div class="card">
                <img class="card-img-top" src="./src/img/curso_1.jpg" alt="imagen curso" />
                <div class="card-body">
                    <h4 class="titulo">Curso de guitara - principios basicos</h4>
                    <p class="instructor"> Jose pedro instructor</p>

                    <div class="d-flex align-items-center">
                        <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                        <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                        <p class="total m-0">(3121)</p>
                    </div>
                    <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                </div>
            </div>
        </li>


        <li class="curso">
            <div class="card">
                <img class="card-img-top" src="./src/img/curso_4.jpg" alt="imagen curso" />
                <div class="card-body">
                    <h4 class="titulo">Fotografia para princiantes - Camara y Equipo Nesesario</h4>
                    <p class="instructor"> Jose pedro instructor</p>

                    <div class="d-flex align-items-center">
                        <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                        <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                        <p class="total m-0">(3121)</p>
                    </div>
                    <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="card-img-top" src="./src/img/curso_5.jpg" alt="imagen curso" />
                <div class="card-body">
                    <h4 class="titulo">Curso de venta in internet and stagram</h4>
                    <p class="instructor"> Jose pedro instructor</p>

                    <div class="d-flex align-items-center">
                        <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                        <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                        <p class="total m-0">(3121)</p>
                    </div>
                    <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="card-img-top" src="./src/img/curso_7.jpg" alt="imagen curso" />
                <div class="card-body">
                    <h4 class="titulo">fondamento basico de Diseno UX y UI</h4>
                    <p class="instructor"> Jose pedro instructor</p>

                    <div class="d-flex align-items-center">
                        <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                        <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                        <p class="total m-0">(3121)</p>
                    </div>
                    <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                </div>
            </div>
        </li>
        <li class="curso">
            <div class="card">
                <img class="card-img-top" src="./src/img/curso_8.jpg" alt="imagen curso" />
                <div class="card-body">
                    <h4 class="titulo">Disegno de tiendas virtuales con WooCommerce</h4>
                    <p class="instructor"> Jose pedro instructor</p>

                    <div class="d-flex align-items-center">
                        <p class="puntaje fw-bold text-secondary me-2">4.7</p>
                        <img class="me-2 calificacion" src="./src/img/estrellas.png " alt="imagen etrellas">
                        <p class="total m-0">(3121)</p>
                    </div>
                    <p class="precio fw-bold">10 USD$ <span class="original fw-normal">200 USD$</span></p>
                </div>
            </div>
        </li>

    </ul>
</Main>
<section class="container-xl categorias mt-3">
    <p class="fs-4 fw-bold"> Categorias Pricipales</p>
    <ul class="list-unstyled grid">
        <li class=" g-col-6 g-col-md-4 g-col-lg-3">
            <a href="# " class="text-decoration-none">
                <div class="bg-light">
                    <img class="img-fluid" src="./build/img/iconos-01.png" alt="imagen icon">
                </div>
                <p class="fw-bold mt-2">Diseno</p>
            </a>
        </li>
        <li class=" g-col-6 g-col-md-4 g-col-lg-3">
            <a href="# " class="text-decoration-none">
                <div class="bg-light">
                    <img class="img-fluid" src="./build/img/iconos-02.png" alt="imagen icon">
                </div>
                <p class="fw-bold mt-2">Diseno</p>
            </a>
        </li>
        <li class=" g-col-6 g-col-md-4 g-col-lg-3">
            <a href="# " class="text-decoration-none">
                <div class="bg-light">
                    <img class="img-fluid" src="./build/img/iconos-03.png" alt="imagen icon">
                </div>
                <p class="fw-bold mt-2">Marketing</p>
            </a>
        </li>
        <li class=" g-col-6 g-col-md-4 g-col-lg-3">
            <a href="# " class="text-decoration-none">
                <div class="bg-light">
                    <img class="img-fluid" src="./build/img/iconos-04.png" alt="imagen icon">
                </div>
                <p class="fw-bold mt-2">Information Y Software</p>
            </a>
        </li>
        <li class=" g-col-6 g-col-md-4 g-col-lg-3">
            <a href="# " class="text-decoration-none">
                <div class="bg-light">
                    <img class="img-fluid" src="./build/img/iconos-05.png" alt="imagen icon">
                </div>
                <p class="fw-bold mt-2">Dessarollo Personal</p>
            </a>
        </li>
        <li class=" g-col-6 g-col-md-4 g-col-lg-3">
            <a href="# " class="text-decoration-none">
                <div class="bg-light">
                    <img class="img-fluid" src="./build/img/iconos-06.png" alt="imagen icon">
                </div>
                <p class="fw-bold mt-2">Negocio</p>
            </a>
        </li>
        <li class=" g-col-6 g-col-md-4 g-col-lg-3">
            <a href="# " class="text-decoration-none">
                <div class="bg-light">
                    <img class="img-fluid" src="./build/img/iconos-07.png" alt="imagen icon">
                </div>
                <p class="fw-bold mt-2">Fotografia</p>
            </a>
        </li>
        <li class=" g-col-6 g-col-md-4 g-col-lg-3">
            <a href="# " class="text-decoration-none">
                <div class="bg-light">
                    <img class="img-fluid" src="./build/img/iconos-08.png" alt="imagen icon">
                </div>
                <p class="fw-bold mt-2">Musica</p>
            </a>
        </li>

    </ul>
</section>
<section class="listado-categorias py-5 mt-5 bg-light">
    <div class="container-xl">
        <p class="fs-4 fw-bold">Temas por categoria </p>
        <div class="row">

            <div class="col-12 col-sm-6 col-lg-3">
                <p class="fw-bold fs-4">Dessarollo</p>
                <ul class="list-unstyled ">
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">phyton</a>
                        <p>30 000 000 estudiantes</p>

                    </li>
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Dessarollo web</a>
                        <p>10 000 000 estudiantes</p>

                    </li>
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Aprende Automatica</a>
                        <p>6 000 000 estudiantes</p>

                    </li>

                </ul>

            </div> <!----columnas-->
            <div class="col-12 col-sm-6 col-lg-3">
                <p class="fw-bold fs-4">Negocios</p>
                <ul class="list-unstyled ">
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Analiziz Financiero</a>
                        <p>100 000 000 estudiantes</p>

                    </li>
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">SQl</a>
                        <p>4 000 000 estudiantes</p>

                    </li>
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">PMP </a>
                        <p>1 000 000 estudiantes</p>

                    </li>

                </ul>
            </div> <!----columnas-->
            <div class="col-12 col-sm-6 col-lg-3">
                <p class="fw-bold fs-4">Informatica y software</p>
                <ul class="list-unstyled ">
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Certification Aws</a>
                        <p>4 000 000 estudiantes</p>

                    </li>
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Hacking etico</a>
                        <p>10 000 000 estudiantes</p>

                    </li>
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Securidad informaticas</a>
                        <p>6 000 000 estudiantes</p>

                    </li>

                </ul>

            </div> <!----columnas-->


            <div class="col-12 col-sm-6 col-lg-3">
                <p class="fw-bold fs-4">Disenio</p>
                <ul class="list-unstyled ">
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Photoshop</a>
                        <p>10 000 000 estudiantes</p>

                    </li>
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Desegno grafico</a>
                        <p>3 000 000 estudiantes</p>

                    </li>
                    <li class="mb-4">
                        <a href="#" class="text-success fw-bold fs-5">Dibuco</a>
                        <p>2 000 000 estudiantes</p>

                    </li>

                </ul>

            </div> <!----columnas-->


        </div>
        <a href="#" class="btn btn-outline-dark">Explora mas tema</a>

    </div>


</section>
<section class="container-xl py-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <img class="img-fluid" src="./build/img/persona2.png" alt="imagen instructor">
        </div>
        <div class=" col-md-5 ">
            <h2 class="fs-3">Convierte en Instructor</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Suscipit ullam iste dolore, autem consequuntur facere sunt,
                aliquid quibusdam odit consectetur totam beatae accusamus atque
                aut ipsum fuga odio sint debitis.</p>
            <a href="#" class="btn btn-dark">Empezar a ensenar hoy mismo</a>
        </div>

    </div>

</section>
<section class="bg-light py-5">

    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h4 class="text-center">EMprezas de todos los tamanio confian en nosotros</h4>

                <div class="logos">
                    <div class="logo d-flex justify-content-center">
                        <img src="./build/img/logo-01.svg" alt="image logo">
                    </div>
                    <div class="logo d-flex justify-content-center">
                        <img src="./build/img/logo-02.svg" alt="image logo">
                    </div>
                    <div class="logo d-flex justify-content-center">
                        <img src="./build/img/logo-03.svg" alt="image logo">
                    </div>
                    <div class="logo d-flex justify-content-center">
                        <img src="./build/img/logo-04.svg" alt="image logo">
                    </div>
                    <div class="logo d-flex justify-content-center">
                        <img src="./build/img/logo-05.svg" alt="image logo">
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<section class="container-xl py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <h2 class="fs-5">universidad <span class="text-success">business</span></h2>
            <p>Lorem ipsum dolor, sit amettetur adipisicing elit. Expedita amet consectetur consequatur doloremque
                ratione blanditiis! Doloremque molestias ut sapiente consequatur. Porro incidunt temporibus modi
                eligendi accusantium explicabo provident atque laudantium?</p>
            <a href="#" class="btn btn-dark">Consigue U</a>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="./build/img/persona3.png" alt="image persona">
        </div>
    </div>
</section>
<section class="container-xl py-5 ">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5 order-2 order-md-1">
            <img class=" img-fluid" src="./build/img/transforma.png" alt="image transforma">
        </div>
        <div class="col-md-5 order-1 order-md-2">
            <h2 class="fs-3"> transforma tu vida mediante la education</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aut, dolore aperiam atque veniam at ut quam doloribus laudantium
                error consequatur, eius architecto ipsam explicabo quisquam facilis vitae.
                In, quae rem!</p>
            <a href="#" class="btn btn-dark"> Desubrio como</a>
        </div>
    </div>
</section>
<footer class="bg-dark py-5">
    <div class="container-xl">
        <div class="row align-items-start">
            <nav class="col-md-2 d-grid gap-2">
                <a href="#" class="text-light text-decoration-none">U business</a>
                <a href="#" class="text-light text-decoration-none">Ensena en U</a>
                <a href="#" class="text-light text-decoration-none">Consegue la app </a>
                <a href="#" class="text-light text-decoration-none">Quien somos</a>
                <a href="#" class="text-light text-decoration-none">Contacto</a>
            </nav>
            <nav class="col-md-2 d-grid gap-2">
                <a href="#" class="text-light text-decoration-none">empleo</a>
                <a href="#" class="text-light text-decoration-none">blog</a>
                <a href="#" class="text-light text-decoration-none"> ayuda y asistence </a>
                <a href="#" class="text-light text-decoration-none">Quien somos</a>
                <a href="#" class="text-light text-decoration-none">Contacto</a>
            </nav>
            <nav class="col-md-2 d-grid gap-2 me-auto">
                <a href="#" class="text-light text-decoration-none">Conditions</a>
                <a href="#" class="text-light text-decoration-none"> politicas de privacidad</a>
                <a href="#" class="text-light text-decoration-none"> mapa del siteo</a>

            </nav>
            <div class="col-md-2">
                <a href="#" class="btn btn-outline-light">Espaniol</a>
            </div>
        </div>

    </div>
    <div class="container-xl mt-5 d-flex justify-content-between align-items-center">
        <p class="text-light fs-3 fw-bold"><span class="text-success">u</span>niversidad</p>
        <p class="text-light ">&Copy; U, inc.</p>

    </div>
</footer>
</body>

</html>